{% extends 'reservations/home.html' %}
{% load my_tags %}
{% block content %}

<main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <img src="/media/1.jpeg" class="card-img-top">
    <p></p>
    <div class="card-body">

        <h1 class="card-title">История ресторана</h1>
        <p class="card-text">В начале XX века, в эпоху расцвета искусства, культуры и кулинарии, на крыше музея Quai Branly-Жака Ширака, в самом сердце Парижа, родился ресторан, который стал воплощением гармонии двух великих культур — русской и французской. Его создание — это история любви, страсти к кулинарии и стремления к прекрасному...</p>
        <a href="{% url 'reservations:history' %}" class="mt-auto text-white-50" style="font-weight: normal; font-size: 0.90rem;">продолжить чтение...</a>
        <p></p>
        <div class="d-flex gap-2 justify-content-center"> <!-- Используем flexbox и добавляем отступы между кнопками -->
            <a href="{% url 'reservations:mission' %}" class="btn btn-sm btn-outline-secondary">Миссия и ценности</a>
            <a href="{% url 'reservations:team' %}" class="btn btn-sm btn-outline-secondary">Команда</a>
            <a href="{% url 'reservations:main' %}" class="btn btn-sm btn-outline-secondary">На главную</a>
        </div>

    </div>
</main>

{% endblock %}