{% load static %}

<!doctype html>

{% include 'reservations/includes/inc_header.html' %}

{% block content %}

<main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <img src="/media/1.jpeg" class="card-img-top">
    <p></p>
    <div class="card-body">

        <p class="card-text fw-lighter" style="font-weight: normal; font-size: 0.90rem;">Всё началось с встречи двух необыкновенных людей: Анны Ивановой, молодой русской аристократки, бежавшей в Париж после революции, и Пьера Леблана, талантливого французского шеф-повара, мечтавшего создать место, где кулинария станет искусством. Анна, с её любовью к русской кухне и щедростью души, и Пьер, с его изысканным вкусом и мастерством, решили объединить свои силы, чтобы создать нечто уникальное.</p>
        <p class="card-text fw-lighter" style="font-weight: normal; font-size: 0.90rem;">Однажды, гуляя по Парижу, Анна и Пьер оказались на террасе музея Quai Branly. Отсюда открывался потрясающий вид на Эйфелеву башню и Сену. В этот момент они поняли, что это место идеально подходит для их замысла. Анна предложила назвать ресторан "Le Chouchou" — "любимчик", подчеркнув, что это место станет любимым для всех, кто ценит красоту, вкус и уют.</p>
        <p class="card-text fw-lighter" style="font-weight: normal; font-size: 0.90rem;">Ресторан открыл свои двери в 1912 году. Сегодня — это не просто ресторан, а легенда. Он пережил войны, революции и смены эпох, но сохранил свою уникальную атмосферу. Каждый вечер здесь звучит живая музыка, а гости наслаждаются видами на Париж и блюдами, которые стали символом гармонии двух культур. Анна и Пьер давно ушли, но их дух живёт в каждом уголке ресторана, напоминая о том, что настоящая красота и вкус — вне времени.</p>

        <div class="d-flex gap-2 justify-content-center"> <!-- Используем flexbox и добавляем отступы между кнопками -->
            <a href="{% url 'reservations:about' %}" class="btn btn-sm btn-outline-secondary">Назад</a>
            <a href="{% url 'reservations:main' %}" class="btn btn-sm btn-outline-secondary">На главную</a>
        </div>

    </div>
</main>

{% endblock %}