{% extends 'reservations/main.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <h2>Удаление бронирования</h2>
    <p class="lead"></p>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form class="row" method="post" enctype="multipart/form-data">

                                <p class="btn btn-sm btn-outline-secondary">Вы действительно хотите удалить бронирование на : "{{object.reserved_at|date:"d.m.Y в H:i"}}" ?</p>
                                    <div class="card-body">
                                    {%  csrf_token %}
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-sm btn-outline-secondary">Удалить</button>
                                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'reservations:personal_account' %}" role="button">Отменить</a>
                                        </div>
                                    </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}